html, body {
	height: 100%;
}
body {
	background: url('../img/bg.jpg');
}
/* twitter bootstrat overwrite stuff */
.btn {
	-webkit-border-radius: 3px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}
.btn {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#DCDCDE));
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-top-color: rgba(0, 0, 0, 0.18);
	text-shadow: 0 1px 0 #fff;
}
.btn:hover {
	background-position: 0 -25px;
	border-top-color: rgba(0, 0, 0, 0.2);
}
.btn.active,
.btn:active {
  	background-color: #e6e6e6;
  	background-image: none;
  	outline: 0;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-group.open .dropdown-toggle {
	background-color: #e6e6e6;
  	background-image: none;
  	border: 1px solid rgba(0, 0, 0, 0.3);
  	-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-group > .dropdown-toggle {
  	*padding-top: 4px;
  	padding-right: 8px;
  	*padding-bottom: 4px;
  	padding-left: 8px;
    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  text-shadow: 0 1px 0 #0a618c;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  	-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);  
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
	-webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);  
}
.show-me {
	background-color: #E6E6E6;
}
/* main app content wrapper */
.main-app-container {
	width: 100%;
	height: 100%;
	display: none;
}
.main-app-container:after, 
.main-app-container:before {
	display: table; content: "";
}
.main-app-container:after {
	clear: both;
}
/* the container */
.container {
	width: 1200px;
}
/* main content */
.main-content {
	margin: 53px auto 0;
	width: 1200px;
}

/* top-toolbar */
.top-toolbar-fixed {
	position: fixed;
	z-index: 940;
	width: 100%;
}
.top-toolbar-fixed .toolbar-inner {
	padding-left: 0;
  	padding-right: 0;
  	height: 53px;
	background: url('../img/bg-top-toolbar.jpg') repeat-x 0 0; 	
  	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0;	
}
.top-toolbar {
	width: 1200px;
	z-index: 930;
}
.toolbar {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0;
	/* width: 100%; */
	list-style: none;
}
.toolbar .btn {
	background: none;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 0px #666;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
}
.toolbar .btn:hover {
	box-shadow: 0px 1px 2px #2e2e2e, inset 0px 1px 0px #777;
}
.toolbar .btn.active,
.toolbar .btn:active {
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 2px #212121
}
.toolbar .search-btn {
	background: #fff;
	border: 1px solid #CCC;
	box-shadow: none;
}
.toolbar > li {
	display: block;
	float: left;
}
.toolbar > li.right {
	float: right;
}
.toolbar .toolbar-text {
	margin-bottom: 0;
	line-height: 28px;
}
.toolbar .toolbar-item {
	margin: 10px 10px 11px;
}
.toolbar .toolbar-item .control-group {
	margin: 0;
}
.toolbar form {
	margin: 0;
}
.toolbar .account-info {
}
.toolbar .sort-group {
}
.toolbar .account-group .caret {
	border-top: 4px solid #fff;
}
.toolbar .account-group .current-user {
	display: block;
	margin-right: 10px;
	color: #909090;
	text-shadow: 0 1px 0 #000;
}
.toolbar .account-group .current-user:hover {
	color: #fff;
	text-decoration: none;	
}
.toolbar .account-group .current-user:hover .caret {
	opacity: 0.8;
}
.toolbar .account-group .current-user .caret{
	margin: 12px 0 0 3px;
}
.type-group-holder {
	margin-left: 40px;
}
.top-subtoolbar {
	z-index: 930;
	position: fixed;
	width: 959px;
	background: #dddedf url('../img/noise.png');
	border-top: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4; 
	border-bottom: 1px solid #d4d4d4;
	box-shadow: inset 0px 0px 1px 1px #f2f0f1;
}
.top-subtoolbar .toolbar {
	width: 100%;
}
.tags-toolbar {
	z-index: 920;
	position: fixed;
	margin-top: -51px;
	width: 920px;
	padding: 0 20px;

}
.tags-toolbar .toolbar {
	width: 920px;
	height: 50px;
	background: #363637 url('../img/bg-tags-toolbar.jpg') repeat-x 0 0;
	border: 1px solid #1A1A1A; 
	border-top: #363637;
	box-shadow: 0 2px 5px #999;
	border-radius: 0 0 5px 5px;		
}
.tags-toolbar .tags-group {
	position: relative;
	display: block;
	width: 100%;
	list-style: none;
}
.tags-toolbar .tags-group .tag-remove {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	margin: -3px 0 0 2px;
}
.tags-toolbar .tags-group > li {
	display: block;
	float: left;
	margin: 5px 0 0 10px;
	color: #999;
	text-shadow: 0 1px 0 #000;
}
.tags-toolbar .tags-action .apply-tag-input {
	margin: 0;
	display: none;
}
/* left panel includes: sidebar */
.left-content {
	position: fixed;
	width: 240px;
	height: 100%;
	z-index: 930;
}

/* right panel */
.right-content {
	position: relative;
	display: inline-block;
	margin-left: 240px;
	width: 960px;
	min-height: 100%;
	
}
/* sidebars */
.left-sidebar {
	position: relative;
	float: left;
	padding: 10px 0 0 0;
	width: 238px;
	min-height: 300px;
	background: #363637 url('../img/bg-sidebar.jpg') no-repeat 0 0;
	border: 1px solid #1a1a1a;
	border-top: 0;
	box-shadow: 0px 1px 0px #fff;
	border-radius: 0 0 5px 5px;
}
.left-sidebar .separator {
	margin-left: 5%;
	width: 90%;
	border-top: 1px solid #1c1c1c;
	border-bottom: 1px solid #555557;
}
.left-sidebar .sidebar-item {
	height: 20px;
	margin: 0;
	padding: 5px 12px 5px 12px;
}
.left-sidebar .folders-breadcrumb-holder .breadcrumb-show-root,
.left-sidebar .folders-breadcrumb-holder .breadcrumb-active-folders span,
.left-sidebar .folders-breadcrumb-holder .folders-breadcrumb-navigation  {
	cursor: pointer;
}
.left-sidebar .folders-breadcrumb-holder .breadcrumb-active-folders {
	display: inline-block;
}
.left-sidebar .folders-list-holder {
	margin: 0;
}
.left-sidebar .add-new-folder-holder {
	height: 35px;
}
.left-sidebar .add-new-folder {
	display: none;
}
.left-sidebar .folders-list-holder .folders-list {
	margin: 0 0 9px 12px;
	list-style: none;
	display: none;
}
.left-sidebar .folders-list-holder .folders-list.empty {
	color: #666;
}
.left-sidebar .folders-list-holder .folders-list > li {
	margin: 5px 0 0 0;
}
.left-sidebar .folders-list-holder .folders-list > li .folder-btn {
	display: block;
	margin: 0 10px 0 0;
	padding: 5px 5px 5px 5px;
	border: 1px solid #363637;
	color:#fff;
	text-shadow: 0 1px 0 #000;
	-webkit-transition: all .1s ease;
}
.left-sidebar .folders-list-holder .folders-list > li .folder-btn:hover {
	color:#fff;
	background: #0078ff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	box-shadow: 0px 2px 2px #2a2a2a, inset 0px 1px 0px #6bb3f5;
	border: 1px solid #002242;
	border-radius: 3px;
}
.left-sidebar .folders-list-holder .folders-list > li .folder-btn:active {
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 2px #004c92;
	border-radius: 3px;	
}
/* wall */
.wall {
	z-index: 910;
	position: relative;
}
.wall .bookmarks-list {
	position: relative;
	padding-top: 20px;
	margin-left: 0px;
}
.wall .bookmarks-list .no-bookmarks {
	background: #363637;
	color: #fff;
	position: fixed;
	left:50%;
	top:50%;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 0px #666;	
}
.wall .bookmarks-list > li {
	margin-left: 20px;
	height: 150px;
}
.wall .bookmarks-list .thumbnail {
	background: #fff;
	border: 1px solid white;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.wall .bookmarks-list .thumbnail .action-group {
	display: none;
}
.wall .bookmarks-list .thumbnail:hover {
	text-decoration: none;
	zoom: 110%;
	margin-top: -8px;
	margin-left: -8px;
}
.wall .bookmarks-list .thumbnail h5 {
	width: 160px;	
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
  	white-space: nowrap;	
}
.wall .bookmarks-list .thumbnail .action-group {
	border-top: 1px solid #f5f5f5;
	margin: 5px 0 0 0;
	padding: 5px 0 0 0;
}
.wall .bookmarks-list .thumbnail .btn-group {
	float: right;
}
.wall .bookmarks-list > li:hover .thumbnail {
	position: absolute;
	z-index: 930;
}
.wall .bookmarks-list > li:hover .mark {
	display: block;
}
.wall .bookmarks-list > li:hover .action-group {
	display: block;
}
.wall .bookmarks-list > li:hover .thumbnail h5 {
	z-index: 930;
	overflow: visible;
	white-space: normal;
	text-overflow: clip;
}
/* branding */
.branding .logo {
	width: 239px;
	height: 49px;
}
/* custom buttons */
.btn-special {
	padding: 4px 6px;
	margin: 0;
	position: relative;
	float: left;	
	color:#fff;
	text-shadow: 0 1px 0 #000;
	text-decoration: none;
	border-radius: 3px;
	background: none;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 0px #666;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;	
}
.btn-special:hover {
	text-decoration: none;
	color:#f5f5f5;
	box-shadow: 0px 1px 2px #2e2e2e, inset 0px 1px 0px #777;	
}
.btn-special.active,
.btn-special:active {
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 2px #212121;
}
/* tags */
.tag-active-item:hover .tag-remove {
	visibility: visible;
}
.tag-remove {
	visibility: hidden;
}
/* other stuff */
.no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	/*user-select: none;*/
}
.popover-source {
	display: none;
}
.popover-footer {
	padding: 10px 0 0 0;
  	margin-bottom: 0;
  	text-align: right;
  	*zoom: 1;	
}
.popover-footer .btn + .btn {
  	margin-bottom: 0;
  	margin-left: 5px;
}
.loading {
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.loading .body {
	background: #363637;
	height:30px;
	position: absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -90px;
	border-radius: 3px;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #535354, inset 0px 1px 0px #666;
}
.loading .body .loader {
	float: left;
	width: 16px;
	height: 16px;
	margin: 10px 0 0 10px;
	background: url('../img/loading.gif') no-repeat 0 0;
}
.loading .body .text {
	display: block;
	float: left;
	color: #fff;
	padding: 0 10px 0 0;
	margin: 6px 0 0 10px;
}
/* autocomplite */

.autocomplete-w1 { background:url('../img/shadow.png') no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

